
<div class="container">
    <div style=" text-align: center;">
      
      <app-paciente-buscar></app-paciente-buscar>
      
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
         
        <!-- DNI Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Dni </th>
          <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element?.Nombre}} </td>
        </ng-container>
      
        <!-- last name Column -->
        <ng-container matColumnDef="Apellido">
          <th mat-header-cell *matHeaderCellDef> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element?.Apellido}} </td>
        </ng-container>
      
        <!-- Fecha de nacimiento Column -->
        <ng-container matColumnDef="FechaNacimiento">
          <th mat-header-cell *matHeaderCellDef> FechaNacimiento </th>
          <td mat-cell *matCellDef="let element"> {{element?.FechaNacimiento}} </td>
        </ng-container>
        <!-- Telefono Column -->
        <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element?.Telefono}} </td>
          </ng-container>
         <!-- NumHistoria Column -->
         <ng-container matColumnDef="NumHistoria">
            <th mat-header-cell *matHeaderCellDef> NumHistoria </th>
            <td mat-cell *matCellDef="let element"> {{element?.NumHistoria}} </td>
           </ng-container>
        <!-- Diagnostico Column -->
         <ng-container matColumnDef="Diagnostico">
            <th mat-header-cell *matHeaderCellDef> Diagnostico </th>
            <td mat-cell *matCellDef="let element"> {{element?.Diagnostico}} </td>
           </ng-container>
        <!-- Version Column -->
         <ng-container matColumnDef="Version">
            <th mat-header-cell *matHeaderCellDef> Version </th>
            <td mat-cell *matCellDef="let element"> {{element?.Version}} </td>
            </ng-container> 
         <ng-container matColumnDef="accion1">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
            [routerLink]="['edicion', element?.id]">Actualizar</button> </td>
         </ng-container>
         <ng-container matColumnDef="accion2">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>
    
          </td>
        </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <div class="example-button-container">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
      routerLink="/pacientes/nuevo">
      <mat-icon>plus_one</mat-icon>
    </button>
 </div>      