
<div class="container">

  <h1>doctor</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="doctor.id">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="nombre" [(ngModel)]="doctor.nombre">

  </mat-form-field>
  
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Apellido</mat-label>
    <input  matInput required placeholder="Apellido" [(ngModel)]="doctor.Apellido">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>telefono</mat-label>
    <input  matInput required placeholder="telefono" [(ngModel)]="doctor.telefono">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/doctor">Cancelar</button>
  <p>{{mensaje}}</p>

</div>